
body {
    font-family: Arial, sans-serif;
    background: #f0f2f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.dashboard-wrapper {
     background: rgb(58, 94, 89); 
    opacity: 0.7;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}
h1,h2{
    color: #d6c6c6;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #040b13;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #b2d4fa;
    color: black;
}
body{
    background-image: url('images/img1.webp');   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}