
html, body {
    height: 90%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:
        linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
        url("images/img2.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(6px);
    z-index: -1;
}

.login-wrapper {
    position: relative;
    text-align: center;
    padding-top: 40px;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 30px auto;
    background: rgba(255,255,255,0.15);
    padding: 25px;
    border-radius: 10px;
    backdrop-filter: blur(4px);
}

fieldset {
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.3);
}


input {
    width: 260px;
    padding: 12px;
    border: none;
    border-radius: 5px;
}

input:hover {
    border-radius: 15px;
    border: rgb(10, 10, 66) solid 2px;
}


button {
    margin-top: 15px;
    padding: 12px;
    width: 120px;
    background: #0c3d6d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.footer {
    margin-top: 15px;
    color: #eee;
    font-size: 14px;
}