html, body {
    height: 90%;
    margin: 0;
    font-family: Arial, sans-serif;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:
        linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
        url("photo/img1.jpg.jpeg");
    background-size: cover;
    background-position: center;
    filter: blur(6px);
    z-index: -1;
}
.login-wrapper {
    position: relative;
    text-align: center;
    padding-top: 40px;   /* login en haut */
    color: white;
}
form {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 30px auto;
    background: rgba(255,255,255,0.15);
    padding: 25px;
    border-radius: 10px;
    backdrop-filter: blur(4px);
}
input {
    margin: 10px 0;
    padding: 12px;
    border-radius: 5px;
    border: none;
}
button {
    margin-top: 15px;
    padding: 12px;
    background: #1d8cf8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}